@page
@model AboutModel
@{
    ViewData["Title"] = "Secure";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Please Login to access the admin portal:</p>
<input id="Text1" type="text" />
<input id="Password1" type="password" />